
.arrow {
  &__down {
    width: 25px;
    height: 25px;
    border-top: 3px solid $color-light-grey;
    border-left: 3px solid $color-light-grey;
    transform: rotate(-135deg);
  }

  &__up {
    width: 25px;
    height: 25px;
    border-top: 3px solid $color-light-grey;
    border-left: 3px solid $color-light-grey;
    transform: rotate(-135deg);
  }

  &__left {
    width: 25px;
    height: 25px;
    border-top: 3px solid $color-light-grey;
    border-left: 3px solid $color-light-grey;
    transform: rotate(-135deg);
  }

  &__right {
    width: 25px;
    height: 25px;
    border-top: 3px solid $color-light-grey;
    border-left: 3px solid $color-light-grey;
    transform: rotate(-135deg);
  }

}