.aws-btn {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 3px;
    --organic-arrow-border-radius: 5px;
    --organic-arrow-height: 25px;
    --organic-arrow-color: #d5d5d5;
    --control-button-width: 20%;
    --control-button-height: 100%;
    --control-button-background: transparent;
    --control-bullet-color: #fafafa;
    --control-bullet-active-color: #d5d5d5;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
}

.awssld__prev, .awssld__next {
  width: 20% !important;
  height: 100% !important;
  cursor: none !important;
  z-index: 9 !important;
  top: 0 !important;
}