.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  padding: $spacing-large;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
}
