.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  z-index: 5;
  &.visible {
    opacity: 1;
  }

  &__content-area {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    border-left: 2px solid white;
    background-color: $color-dark;
    padding: $spacing-large $spacing-large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .social-icon {
      width: 10px;
      &.instagram {
        transform: translateY(2px);
      }
      &.email {
        transform: translateY(1px);
      }
    }
  }
}