$break_xl: 1500px;
$break_lg: 1200px;
$break_med: 900px;
$break_sm: 600px;

$spacing-small: 0.75rem;
$spacing-regular: 1rem;
$spacing-large: 3rem;

$color-light: white;
$color-dark: black;
$color-highlight: #FFBB00;

.color--light {
  color: $color-light;
}

.color--dark {
  color: $color-dark;
}

.color--highlight {
  color: $color-highlight;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

html {
  background: var(--white);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

input, button, textarea {
  &:focus {
    outline: none;
  }
}

a {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

@import 'typography.scss';
@import 'arrows.scss';

body {
  background-color: $color-dark;
  color: $color-light;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}