
$break_xl: 1500px;
$break_lg: 1200px;
$break_med: 900px;
$break_sm: 600px;

html {
  background: var(--white);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

input, button, textarea {
  &:focus {
    outline: none;
  }
}

.hero {
  display: flex;
  &__image {

  }
  &__footer {
    background: white;
    font-family: 'Druk';
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 10rem;
  }
}

.module {
  height: 100vh;
  width: 100vw;
  background: black;
  border-bottom: 1px solid white;
  color: white;
  &__header-lg {
    font-family: 'Druk';
    font-size: 40rem;
    text-align: center;
    text-transform: uppercase;
  }
  &__product-list {

    &__item {

    }
  }
}

@import 'typography.scss'
