@font-face {
  font-family: 'NotoSans-Regular';
  font-weight: 400;
  src: url('/NotoSans-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'NotoSans-SCM';
  font-weight: 400;
  src: url('/NotoSans-SemiCondensedMedium.ttf')  format('truetype');
}
@font-face {
  font-family: 'NotoSans-Bold';
  font-weight: 400;
  src: url('/NotoSans-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'NotoSans-CondensedExtraBold';
  font-weight: 400;
  src: url('/NotoSans-CondensedExtraBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Tungsten-Bold';
  font-weight: 400;
  src: url('/Tungsten-Bold.otf')  format('opentype');
}

html {
  font-size: 16px;
  color: var(--black-ln);
  @media (max-width: $break_lg) {
    font-size: 11px;
  }
  @media (max-width: $break_med) {
    font-size: 10.5px;
  }
}
body {
  margin: 0;
  font-family: 'NotoSans-Regular', sans-serif;
  letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
h1, h2, h3, h4, p {
  line-height: 1.4em;
  font-weight: normal;
  margin: 0 0 0.6rem;
  letter-spacing: 0.02em; 
}
h1 {
  font-family: 'Tungsten-Bold';
  font-size: 11rem;
  line-height: 0.96em;
  font-weight: 300;
  text-transform: uppercase;
}
img.fake-h1 {
  height: 5rem;
  margin: 30px 0;
}
h2 {
  font-family: 'NotoSans-SCM';
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
h3 {
  font-family: 'NotoSans-CondensedExtraBold';
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  &.light {
    font-family: 'NotoSans-SCM';
  }
}
h4 {
  font-family: 'NotoSans-SCM';
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
}
.type--bold {
  font-family: 'NotoSans-Bold';
}
p {
  font-family: 'NotoSans-Regular';
  font-size: 1.1rem;
  margin: 0;
  padding-bottom: 0.5em;
  line-height: 1.5em;

  &.small {
    font-size: 0.95rem;
  }

  &.large {
    font-size: 1.9rem;
    line-height: 1.3em;
  }
}
.uppercase {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.06em;
}
.bold {
  font-weight: 600;
  letter-spacing: 0.08em;
}
.mono {
  font-family: 'Basis-Mono';
  font-size: 0.95em;
}
